<h2>Hi!</h2>
<script type="text/javascript" src="https://cdn.withcopper.com/1/copper.js#application_id=5786DCCA891C0E458DAD4037B551BDBF19937670"></script>
<script>
Copper.getUserData(function(response) {
  console.log("Hi, " + response.user.name);
});
</script>
<div id="output"></div>